body {
	background: black;
}
h3{
	text-align: center;
}
h2{
	font-style: Arial;
	text-align: center;
	color: #0098D3;
}
#tabs{
	margin: 5px;
}

.barnav{
	display: inline-block;
	clear: both;
	margin-right: auto;
	margin-left: auto;
}

#mos {
	font-size: 2em;
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	color: #0098D3;
}
.col-xs-2{
	margin: 0 0 10px;
}
.col-xs-3{
	margin: 0 0 10px;
}
.row{
	margin: 0 0 20px;
}
#bouton-user{
	margin-left: -5px;
	margin-right: -5px;
}
#bouton-user img{
	width: 100%
}
#formulaire{
	padding: 10px;
}
#slider-growth-code,
#slider-happiness-code,
#slider-happiness-life{
	width: 500px;
	margin-bottom: 10px;
}
label{
	font-weight: normal;
}
#growth-code,
#happiness-code,
#happiness-life{
	border: 0;
	font-weight: bold;
}
#labels{
	margin-bottom: 20px;
}
#accordion{
	width: 550px;
	margin-bottom: 40px;
}

.boxmodal {
	display: none;
}
#bulot {
	height: 8%;
	width: 8%;
	display: inline-block;
}

